p {
	text-align: center;
	font-size: 20px;
}

div {
		width: 300px;
		padding: 2px;
		align-items: center;
		border: 5px solid black;
		margin: 1px;
		background-color: gray;
		box-shadow: 3px 3px 10px;
}



body {
	box-sizing: border-box;
	background-image: linear-gradient(to right, red, yellow);
}

